
*, *::after, *::before {
    box-sizing: border-box;
}
body {
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none;
}
@media only screen and (min-width: 1050px) {
    body::before {
        /* never visible - this is used in jQuery to check the current MQ */
        content: 'desktop';
    }
}
.cd-section {
    height: 100vh;
    box-sizing: border-box;
}
.cd-section div {
    height: 100vh;
}
.cd-section:first-of-type > div {
    border: 16px solid #3E4046;
    background-color: white;
}
.cd-section:first-of-type > div::before {
    /* alert -> all scrolling effects are not visible on small devices */
    position: absolute;
    width: 100%;
    z-index: 2;
}
.cd-section:nth-of-type(2) > div {
    border: 16px solid #673AB7;
    background-color: white;
}
.cd-section:nth-of-type(3) > div {
    border: 16px solid #FF9800;
    background-color: white;
}
@media only screen and (min-width: 1050px) {
    [data-hijacking="off"] .cd-section > div {
        opacity: 0;
    }
    [data-animation="scaleDown"] .cd-section > div, [data-animation="gallery"] .cd-section > div, [data-animation="catch"] .cd-section > div {
        box-shadow: 0 0 0 rgba(25, 30, 46, 0.4);
    }
}
@media only screen and (min-width: 1050px) {
    .cd-section:first-of-type > div::before {
        display: none;
    }
}
@media only screen and (min-width: 1050px) {
    .cd-section > div {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        /* Force Hardware Acceleration */
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
}
@media only screen and (min-width: 1050px) {
    .cd-vertical-nav {
        display: block;
    }
}
